@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root{
	--color__primary1: hsl(322, 100%, 66%);
	--color__primary2: hsl(321, 100%, 78%);
	--color__primary3: hsl(0, 100%, 63%);
	--color__neutral1: hsl(192, 100%, 9%);
	--color__neutral2: hsl(207, 100%, 98%);
}

body{
	font-family: "Open Sans", sans-serif;
	display: flex;
	flex-direction: column;
}

.section{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 75px;
	position: relative;
	margin: 0 0 100px;
	gap: 20px;
}
.texts, .images, .footer__contact, .footer__newsletter{
	width: 40%;
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}
.title{
	font-family: "Poppins", sans-serif;
	color: var(--color__neutral1);
	line-height: 1.5em;
	font-size: 3em;
	font-weight: 700;
	text-align: left;
	width: 100%;
}
.paragraph{
	color: var(--color__neutral1);
	line-height: 1.5em;
	font-size: 1.2em;
	font-weight: 600;
	text-align: left;
}
.cta{
	color: var(--color__neutral2);
	background-color: var(--color__primary1);
	text-decoration: none;
	text-align: center;
	font-size: 1.2em;
	font-weight: 600;
	border-radius: 50px;
}
.subtitle{
	font-size: 1.2em;
	color: #b9b9b9;
	font-weight: 400;
	text-align: center;
}
.started__cta{
	display: block;
	width: 40%;
	min-width: 250px;
	max-width: 450px;
	height: 75px;
	line-height: 75px;
	border-radius: 50px;
	margin: 20px 0 100px;
}
img{
	width: 100%;
	display: block;
}


header.header{
	flex-direction: row;
	justify-content: space-between;
	padding: 75px 75px 0;
}
.header__logo, .footer__logo{
	width: 250px;
	height: 40px;
}
.header__cta{
	width: 150px;
	height: 40px;
	color: var(--color__primary1);
	background-color: var(--color__neutral2);
	border: 1px solid;
	line-height: 40px;
	box-shadow: 0px 0px 10px #00000022;
}


.first__texts{
	width: 100%;
}
.first__title{
	text-align: center;
}
.first__paragraph{
	width: 50%;
	text-align: center;
}
.first__images{
	flex-direction: row;
	justify-content: space-around;
}
.first__fig{
	width: 100%;
}
.first__communities, .first__messages{
	max-width: 300px;
	width: 250px;
}
.communities__fig, .messages__fig{
	width: 20%;
} 
h2.communities__title, h2.messages__title{
	font-family: "Open Sans", sans-serif;
	font-size: 5em;
}


.secondsection, .forthsection{
	background-color: #f6fbff;
	margin: 100px 0;
}
.secondsection::before, .secondsection::after, .forthsection::before, .forthsection::after, .footer::before{
	content: "";
	display: block;
	position: absolute;
	left: 0px;
	width: 100%;
	height: 170px;
	background-repeat: no-repeat;
    background-position: center;
	background-size: cover;
}
.secondsection::before{
	top: 5px;
	transform: translateY(-100%);
	background-image: url("../images/bg-section-top-desktop-1.svg")
}
.secondsection::after{
	bottom: 5px;
	transform: translateY(100%);
	background-image: url("../images/bg-section-bottom-desktop-1.svg");
}


.inverse{
	flex-direction: row-reverse;
}
.forthsection::before{
	top: 5px;
	transform: translateY(-100%);
	background-image: url("../images/bg-section-top-desktop-2.svg")
}
.forthsection::after{
	bottom: 5px;
	transform: translateY(100%);
	background-image: url("../images/bg-section-bottom-desktop-2.svg");
}
.fifth__title{
	text-align: center;
}


.footer{
	justify-content: space-between;
	background-color: var(--color__neutral2);
	--color__neutral2: hsl(192, 100%, 9%);
	--color__neutral1: #fff;
	margin: 0;
}
.footer::before{
	top: 5px;
	transform: translateY(-100%);
	background-image: url("../images/bg-footer-top-desktop.svg")
}
.footer__contact{
	flex-grow: 0.5;
	max-width: 350px;
	align-items: flex-start;
}
.footer__newsletter{
	max-width: 500px;
}
.footer__copy{
	display: flex;
	align-items: center;
	gap: 15px;
}
.copy__img{
	width: 20px;
	height: 18px;
}
.newsletter__title{
	font-family: "Open Sans";
	font-size: 2.5em;
	line-height: 1em;
	height: 40px;
	width: 100%;
}
.newsletter__form{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}
input[type="email"], input[type="submit"]{
	width: 60%;
	min-width: 200px;
	border-radius: 7px;
	height: 45px;
	border: none;
	outline: none;
}
input[type="email"]{
	flex-grow: 1;
	color: var(--color__neutral2);
}
input[type="submit"]{
	width: 30%;
	min-width: 100px;
	font-size: 1em;
	margin-left: 20px;
	color: var(--color__neutral1);
}
a:hover, input[type="submit"]:hover, input[type="email"]:hover{
	--color__primary1: hsl(321, 100%, 78%);
	cursor: pointer;
}
input[type="email"]:hover{
	outline: 1px solid var(--color__primary1);
}
input[type="email"]::after{
	content: " Hola";
}

.links{
	background-color: hsl(192, 100%, 9%);
	margin: 0;
	padding: 0 75px 75px;
}
.footer__links{
	width: 100%;
	display: flex;
	gap: 25px;
}
.footer__link{
	width: 30px;
	height: 30px;
	background-color: #fff;
	border-radius: 5px;
}
.footer__link:hover{
	background-color: skyblue;
}


@media screen and (max-width: 800px){
	.section{
		flex-direction: column;
		padding: 30px;
		margin: 0 0 250px;
	}
	header.header{
		padding: 30px 30px 0;
		margin: 0 0 50px;
	}
	.footer, .links{
		margin: 0;
	}
	.links{
		padding: 0px 30px 30px;
	}
	.title{
		font-size: 2.2em;
		text-align: center;
	}
	.paragraph{
		font-size: 1em;
		width: 100%;
		text-align: center;
	}
	.secondsection, .thirdsection, .forthsection, .footer{
		flex-direction: column-reverse;
		gap: 100px;
	}
	.header__logo, .footer__logo{
		width: 150px;
		height: 25px;
	}
	.header__cta{
		width: 85px;
		height: 30px;
		line-height: 30px;
		font-size: .9em;
	}
	.texts, .images, .footer__contact, .footer__newsletter{
		width: 100%;
	}
	input[type="email"]{
		width: 100%;
	}
	input[type="submit"]{
		margin: 20px 0 0;
	}
	.footer__contact, .footer__links{
		max-width: 500px;
	}
	.footer__contact p{
		text-align: left;
	}
	.secondsection::before, .secondsection::after, .forthsection::before, .forthsection::after, .footer::before{
		height: 240px;
	}
	.secondsection::before{
		background-image: url("../images/bg-section-top-mobile-1.svg")
	}
	.secondsection::after{
		background-image: url("../images/bg-section-bottom-mobile-1.svg");
	}
	.forthsection::before{
		background-image: url("../images/bg-section-top-mobile-2.svg")
	}
	.forthsection::after{
		background-image: url("../images/bg-section-bottom-mobile-2.svg");
	}
	.footer::before{
		background-image: url("../images/bg-footer-top-mobile.svg")
	}
}
